{{#if bs-button.link}}
<a class="btn {{bs-button.modifier}}" href="{{bs-button.url}}">{{bs-button.text}}</a>
{{/if}}

{{#if bs-button.button}}
<button class="btn {{bs-button.modifier}}">{{bs-button.text}}</button>
{{/if}}