<!-- START Frage -->
<header>
  <h3>{{question.headline}}</h3>
  <!--Das Bild:
        Ganz normal ausspielen, mit oder ohne Bildunterschrift ist egal
        -->
  <figure id="{{image.id}}" class="{{image.class}}" itemid="{{image.itemid}}" itemprop="image" itemscope=""
    itemtype="http://schema.org/ImageObject" aria-label="media" data-aspectratio="{{image.aspectratio}}">
    <div class="image">
      <link itemprop="url" href="{{image.src}}">
      <meta itemprop="width" content="{{image.width}}">
      <meta itemprop="height" content="{{image.height}}">
      <a href="#" itemprop="url">
        <img alt="{{image.alttext}}" title="Foto: ard-foto s2-intern/extern, swr" src="{{image.src}}">
      </a>
    </div>
    <figcaption>
      <a href="#" tabindex="-1" itemprop="url">
        <span class="figure-caption" itemprop="caption description">
          {{figcaption.caption}}
        </span>
      </a>
      <span class="figure-attribution rs_skip_always">
        {{#figcaption.copyrightholder}}
        <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">
          <span itemprop="name">{{item}}</span>
        </span>
        {{/figcaption.copyrightholder}}
      </span>
    </figcaption>
  </figure>
  <p>{{question.text}}</p>
</header>
<!-- END Frage -->