<div class="media">
  {{#mediaLeft }}
  <div class="media-left {{ modificator }}">
    <a href="{{ url }}">
      <img class="media-object" src="{{ image }}" alt="{{ alt }}">
    </a>
  </div>
  {{/mediaLeft }}

  <div class="media-body">
    <h4 class="media-headline">{{ headline }}</h4>
    {{#content}}
    <p>{{ text }}</p>
    {{/content}}
  </div>
  {{#mediaRight }}
  <div class="media-right {{ modificator }}">
    <a href="{{ url }}">
      <img class="media-object" src="{{ image }}" alt="{{ alt }}">
    </a>
  </div>
  {{/mediaRight }}
</div>
